/* Navbar */
.navbar {
  background: linear-gradient(94.45deg,#3C88BE 1.55%,#7AC6F4 98.46%);
  transition: all 0.3s ease;
  box-shadow: 0 0 15px 5px rgba(0,0,0,.15);
  border: none;
  min-height: 40px;
}

.navbar a.nav-link {
	font-size: 1.2rem;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

#hexlogo {
  height: 40px;
  float: left;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

img.logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  #hexlogo {
    height: 30px;
  }
  .navbar .navbar-brand {
    line-height: 19px;
  }
  .navbar .navbar-form {
    margin: 3px 5px 3px 5px;
  }
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
    padding-right: 0;
    margin-right: -120px;
  }
}

// undo designer choice in pkgdown to add a lot of whitespace under h1
@media (min-width: 576px){
  .template-home .page-header {
      min-height: 0;
  }
}

.nav-text.text-muted.me-auto {
  color: white !important;
}
